table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
 }
 
 th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ccc;
 }
 
 th {
    background-color: #f2f2f2;
    font-weight: bold;
 }
 